:root {
  --background: #e8ebee;
  --dominant-color: #fee973;
  --primary-color: #a8dadc;
  --secondary-color: #e63946;
  --success-color: #6de4ad;
  --danger-color: #e56c77;
  --warning-color: #ffd452;
  --info-color: #5bdcf6;
  --background-text: #000000;
  --dominant-text: #ffffff;
  --primary-text: #000000;
  --secondary-text: #ffffff;
  --success-text: #000000;
  --danger-text: #000000;
  --warning-text: #000000;
  --info-text: #000000;
  --dark-color: #001927;
  --gold-color: #dcb23e;
}

body {
  background-color: #fff !important;
  scroll-behavior: smooth !important;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Change this to the desired background color */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--dark-color); /* Change this to the desired thumb color */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--gold-color); /* Change this to the desired thumb color on hover */
}

body {
  background-color: var(--dominant-color);
}
/* **********************Menu******************** */
.cid-u695DzOLFy {
  z-index: 1000;
  width: 100%;
  position: relative;
}

.cid-u695DzOLFy ul li a {
  position: relative;
}

.cid-u695DzOLFy ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 2px solid var(--gold-color);
  border-bottom-width: 0px;
}

.cid-u695DzOLFy ul li:hover a::after {
  border-bottom-width: 100%;
}



.cid-u695DzOLFy .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
@media (max-width: 767px) {
  .cid-u695DzOLFy .navbar-toggler {
    transform: scale(0.8);
  }
}
.cid-u695DzOLFy .navbar-brand {
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-u695DzOLFy .navbar-brand img {
  max-width: 100%;
  max-height: 100%;
}
.cid-u695DzOLFy .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-u695DzOLFy .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-u695DzOLFy .navbar-nav {
  margin: auto;
  margin-left: 0;
  margin-left: auto;
}
.cid-u695DzOLFy .navbar-nav .nav-item {
  padding: 0 !important;
  transition: 0.3s all !important;
}
.cid-u695DzOLFy .navbar-nav .nav-item .nav-link {
  padding: 16px !important;
  margin: 0 !important;
  border-radius: 1rem !important;
  transition: 0.3s all !important;
  color: var(--gold-color) !important;
}
.cid-u695DzOLFy .navbar-nav .nav-item .nav-link:hover {
  background-color: rgba(27, 31, 10, 0.06);
}
.cid-u695DzOLFy .navbar-nav .open .nav-link::after {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
@media (min-width: 992px) {
  .cid-u695DzOLFy .navbar-nav .open .nav-link::before {
    content: "";
    width: 100%;
    height: 20px;
    top: 100%;
    background: transparent;
    position: absolute;
  }
}
.cid-u695DzOLFy .navbar-nav .dropdown-item {
  padding: 12px !important;
  border-radius: 0.5rem !important;
  margin: 0 8px !important;
  transition: 0.3s all !important;
  -webkit-border-radius: 0.5rem !important;
  -moz-border-radius: 0.5rem !important;
  -ms-border-radius: 0.5rem !important;
  -o-border-radius: 0.5rem !important;
  -webkit-transition: 0.3s all !important;
  -moz-transition: 0.3s all !important;
  -ms-transition: 0.3s all !important;
  -o-transition: 0.3s all !important;
}
.cid-u695DzOLFy .navbar-nav .dropdown-item:hover {
  background-color: rgba(27, 31, 10, 0.06);
}
@media (min-width: 992px) {
  .cid-u695DzOLFy .navbar-nav {
    padding-left: 1.5rem;
  }
}
.cid-u695DzOLFy .nav-link {
  width: fit-content;
  position: relative;
}
.cid-u695DzOLFy .navbar-logo {
  margin: 0 !important;
}
@media (max-width: 767px) {
  .cid-u695DzOLFy .navbar-logo {
    padding-left: 0;
  }
}
.cid-u695DzOLFy .navbar-caption {
  padding-left: 1rem;
  padding-right: 0.5rem;
}
@media (max-width: 767px) {
  .cid-u695DzOLFy .nav-dropdown {
    padding-bottom: 0.5rem;
  }
}
.cid-u695DzOLFy .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  transition: 0.3s all;
}
.cid-u695DzOLFy .containers {
  display: flex;
  width: 100% !important;
  height: 90px;
  background-color: var(--dark-color);
  padding: 0.5rem 0;
  flex-wrap: nowrap;
  left: 0;
  right: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  box-shadow: 0 30px 60px 0 rgba(27, 31, 10, 0.08);
}
@media (max-width: 992px) {
  .cid-u695DzOLFy .containers {
    padding-right: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-u695DzOLFy .containers {
    width: 95%;
    height: 72px !important;
    padding-right: 1rem;
    margin-top: 0rem;
  }
}
.cid-u695DzOLFy .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-u695DzOLFy .dropdown-menu {
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 100%;
  padding: 12px 4px !important;
  border-radius: 1.5rem;
  transition: 0.3s all !important;
  min-width: auto;
  background: #ffffff;
  background: rgba(255, 255, 255, 0.8) !important;
  -webkit-transition: 0.3s all !important;
  -moz-transition: 0.3s all !important;
  -ms-transition: 0.3s all !important;
  -o-transition: 0.3s all !important;
}
.cid-u695DzOLFy .nav-item:focus,
.cid-u695DzOLFy .nav-link:focus {
  outline: none;
}
.cid-u695DzOLFy .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
}
.cid-u695DzOLFy .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-u695DzOLFy .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-u695DzOLFy .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
}
.cid-u695DzOLFy .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-u695DzOLFy .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-u695DzOLFy .navbar {
  min-height: 90px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  background: transparent !important;
  padding: 0 !important;
  border: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
}
.cid-u695DzOLFy .navbar.opened {
  transition: all 0.3s;
}
.cid-u695DzOLFy .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-u695DzOLFy .navbar .navbar-logo img {
  min-width: 6rem;
  object-fit: cover;
}
.cid-u695DzOLFy .navbar .navbar-collapse {
  z-index: 1;
  justify-content: flex-end;
}
.cid-u695DzOLFy .navbar.collapsed {
  justify-content: center;
}
.cid-u695DzOLFy .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-u695DzOLFy .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-u695DzOLFy .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3rem);
  }
}
.cid-u695DzOLFy .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-u695DzOLFy .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-u695DzOLFy
  .navbar.collapsed
  .dropdown-menu
  .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-u695DzOLFy .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-u695DzOLFy .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-u695DzOLFy .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 767px) {
  .cid-u695DzOLFy .navbar {
    min-height: 72px;
  }
  .cid-u695DzOLFy .navbar .navbar-logo img {
    height: 2.5rem !important;
    min-width: 2.5rem !important;
  }
}
@media (max-width: 991px) {
  .cid-u695DzOLFy .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-u695DzOLFy .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-u695DzOLFy .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-u695DzOLFy .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-u695DzOLFy
    .navbar
    .dropdown-menu
    .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-u695DzOLFy .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-u695DzOLFy .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 10px;
  }
  .cid-u695DzOLFy .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-u695DzOLFy .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-u695DzOLFy .navbar.navbar-short .navbar-logo img {
  height: 2rem;
}
.cid-u695DzOLFy .dropdown-item.active,
.cid-u695DzOLFy .dropdown-item:active {
  background-color: transparent;
}
.cid-u695DzOLFy .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-u695DzOLFy .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-u695DzOLFy .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-u695DzOLFy .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-u695DzOLFy
  .navbar.navbar-expand-lg
  .dropdown
  .dropdown-menu
  .dropdown-submenu {
  margin: 0;
  left: 105%;
  transform: none;
  top: -12px;
}
.cid-u695DzOLFy .navbar .dropdown.open > .dropdown-menu {
  display: flex;
}
.cid-u695DzOLFy ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-u695DzOLFy .navbar-buttons {
  text-align: center;
  min-width: 140px;
}
@media (max-width: 992px) {
  .cid-u695DzOLFy .navbar-buttons {
    text-align: left;
  }
}
.cid-u695DzOLFy button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-u695DzOLFy button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: var(--gold-color);
}
.cid-u695DzOLFy button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-u695DzOLFy button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-u695DzOLFy button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-u695DzOLFy button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-u695DzOLFy nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-u695DzOLFy nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-u695DzOLFy nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-u695DzOLFy nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-u695DzOLFy .navbar-dropdown {
  padding: 0 1rem;
}
.cid-u695DzOLFy a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-u695DzOLFy .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media (max-width: 992px) {
  .cid-u695DzOLFy .icons-menu {
    justify-content: flex-start;
    margin-bottom: 0.5rem;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-u695DzOLFy .navbar {
    height: 70px;
  }
  .cid-u695DzOLFy .navbar.opened {
    height: auto;
  }
  .cid-u695DzOLFy .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-u695DzOLFy .navbar .dropdown > .dropdown-menu {
  display: none;
  width: max-content;
  max-width: 500px !important;
  transform: translateX(-50%);
  top: calc(100% + 20px);
  left: 50%;
}
.cid-u695DzOLFy .navbar .dropdown > .dropdown-menu .dropdown-item {
  line-height: 1 !important;
}
.cid-u695DzOLFy .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item {
  align-items: center;
  display: flex;
  height: max-content !important;
  min-height: max-content !important;
}
.cid-u695DzOLFy
  .navbar
  .dropdown
  > .dropdown-menu
  .dropdown
  .dropdown-item::after {
  display: inline-block;
  position: static;
  margin-left: 0.5rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  transition: 0.3s all;
  transform: rotate(-90deg);
}
.cid-u695DzOLFy
  .navbar
  .dropdown
  > .dropdown-menu
  .dropdown.open
  .dropdown-item::after {
  transform: rotate(0deg);
}
.cid-u695DzOLFy .mbr-section-btn {
  margin: -0.6rem -0.6rem;
}
.cid-u695DzOLFy .navbar-toggler {
  margin-left: 12px;
  margin-right: 8px;
  order: 1000;
}
@media (max-width: 991px) {
  .cid-u695DzOLFy .navbar-brand {
    margin-right: auto;
  }
  .cid-u695DzOLFy .navbar-collapse {
    z-index: -1 !important;
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    padding: 1rem;
    border-radius: 1.5rem;
    background: var(--dark-color);
    opacity: 1;
    border-color: rgba(255, 255, 255, 0.8) !important;
    /* background: rgba(255, 255, 255, 0.8) !important; */
    backdrop-filter: blur(8px);
  }
  .cid-u695DzOLFy .navbar-nav .nav-item .nav-link::after {
    margin-left: 10px;
  }
  .cid-u695DzOLFy .navbar-nav .dropdown-item:hover {
    background-color: rgba(27, 31, 10, 0.06);
  }
  .cid-u695DzOLFy .navbar .dropdown > .dropdown-menu {
    max-width: 100% !important;
    transform: translateX(0);
    top: 10px;
    left: 0;
    padding: 8px !important;
    border-radius: 1rem;
    background-color: rgba(27, 31, 10, 0.04) !important;
  }
  .cid-u695DzOLFy .navbar .dropdown > .dropdown-menu .dropdown-item {
    padding: 8px !important;
    line-height: 1 !important;
    margin-bottom: 4px !important;
  }
  .cid-u695DzOLFy .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item {
    align-items: center;
    display: flex;
    height: max-content !important;
    min-height: max-content !important;
  }
  .cid-u695DzOLFy
    .navbar
    .dropdown
    > .dropdown-menu
    .dropdown
    .dropdown-item::after {
    display: inline-block;
    position: static;
    margin-left: 0.5rem;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    transition: 0.3s all;
    transform: rotate(0deg);
  }
  .cid-u695DzOLFy
    .navbar
    .dropdown
    > .dropdown-menu
    .dropdown.open
    .dropdown-item::after {
    transform: rotate(180deg);
  }
  .cid-u695DzOLFy .navbar .dropdown > .dropdown-menu .dropdown-submenu {
    position: static;
    width: 100%;
    max-width: 100% !important;
    transform: translateX(0) !important;
    top: 0;
    left: 0;
    padding: 8px !important;
    border-radius: 1rem;
    background-color: rgba(27, 31, 10, 0.04) !important;
  }
  .cid-u695DzOLFy .navbar .dropdown.open > .dropdown-menu {
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 575px) {
  .cid-u695DzOLFy .navbar-collapse {
    padding: 1rem;
  }
}
/* **********************Menu******************** */
/* **********************header18******************** */

/* .cid-u695DzOiUK {
  height: 100vh !important;
}

.cid-u695DzOiUK .splide ul li {
  overflow: hidden;
}
.cid-u695DzOiUK .splide img {
  width: 100%;
} */
/*
@media (min-width: 768px) {
  .cid-u695DzOiUK {
    align-items: flex-end;
  }
  .cid-u695DzOiUK .row {
    justify-content: flex-start;
  }
  .cid-u695DzOiUK .content-wrap {
    padding: 1rem 3rem;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-u695DzOiUK .content-wrap {
    min-width: 50%;
  }
} */

/* #hero-15-u695DzOiUK {
  background: url('assets/images/nextv.mp4') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

/* @media only screen and (max-width: 767px) {
  #hero-15-u695DzOiUK {
      data-bg-video: 'assets/images/mobnextvideo.mp4';
  }
} */

/* 
@media (max-width: 767px) {
  .cid-u695DzOiUK {
    -webkit-align-items: center;
    align-items: flex-end;
  }
  .cid-u695DzOiUK .mbr-row {
    -webkit-justify-content: center;
    justify-content: center;
  }
  .cid-u695DzOiUK .content-wrap {
    width: 100%;
  }
 
}
.cid-u695DzOiUK .mbr-fallback-image.disabled {
  display: none;
}
.cid-u695DzOiUK .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: #000000;
}
.cid-u695DzOiUK .mbr-section-title,
.cid-u695DzOiUK .mbr-section-subtitle {
  text-align: left;
  color: var(--gold-color);
}
.cid-u695DzOiUK .mbr-text,
.cid-u695DzOiUK .mbr-section-btn {
  text-align: left;
} */
/* **********************header18******************** */
/* **********************list05******************** */

.cid-u695DzO9l9 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: transparent;
}
.cid-u695DzO9l9 .mbr-text {
  color: var(--dark-color);
}
.cid-u695DzO9l9 .mbr-section-subtitle {
  color: var(--dark-color);
}
.cid-u695DzO9l9 .mbr-section-title {
  color: var(--dark-color) !important;
  text-align: center;
}
.cid-u695DzO9l9 .mbr-text,
.cid-u695DzO9l9 .item .mbr-section-btn {
  text-align: left;
}
.cid-u695DzO9l9 .item-wrapper {
  background: #ffffff;
  margin-bottom: 2rem;
  padding: 2.25rem;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-u695DzO9l9 .item-wrapper {
    padding: 2rem 1.5rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-u695DzO9l9 .item-wrapper {
    padding: 2rem 1.5rem;
    margin-bottom: 1rem;
  }
}
/* **********************list05******************** */
/* **********************gallery10******************** */
.cid-u695DzPysL {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: var(--dark-color);
}
.cid-u695DzPysL .item:focus,
.cid-u695DzPysL span:focus {
  outline: none;
}
.cid-u695DzPysL .container-fluid {
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
}
.cid-u695DzPysL .content-head {
  max-width: 800px;
}
.cid-u695DzPysL .item {
  color: var(--gold-color);
  min-height: 90px;
  font-weight: bold;
}
@media (max-width: 768px) {
  .cid-u695DzPysL .item {
    min-height: 45px;
  }
}
/* **********************gallery10******************** */
/* **********************features03******************** */
.cid-u695DzPjy6 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: var(--background);
}
.cid-u695DzPjy6 .item-subtitle {
  color: var(--dark-color);
  font-size: 24px;
}
.cid-u695DzPjy6 img,
.cid-u695DzPjy6 .item-img {
  width: 100%;
  height: 100%;
  height: 400px;
  object-fit: cover;
}
.cid-u695DzPjy6 .item:focus,
.cid-u695DzPjy6 span:focus {
  outline: none;
}
.cid-u695DzPjy6 .item {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-u695DzPjy6 .item {
    margin-bottom: 1rem;
  }
}
.cid-u695DzPjy6 .item-wrapper {
  position: relative;
  border-radius: 4px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-u695DzPjy6 .mbr-section-title {
  color: var(--dark-color) !important;
}

.cid-u695DzPjy6 .mbr-section-title strong {
  color: var(--dark-color);
}
.cid-u695DzPjy6 .mbr-text,
.cid-u695DzPjy6 .mbr-section-btn {
  color: #aaa;
  font-size: 16px;
}
.cid-u695DzPjy6 .item-title {
  color: var(--dark-color);
}
.cid-u695DzPjy6 .content-head {
  max-width: 800px;
}
/* **********************features03******************** */
/* **********************features023******************** */
.cid-u695DzPAKi {
  padding-top: 5rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-u695DzPAKi .mbr-fallback-image.disabled {
  display: none;
}
.cid-u695DzPAKi .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u695DzPAKi .title .num {
  width: 100%;
  display: block;
}
.cid-u695DzPAKi .title .card-title {
  z-index: 1;
}
.cid-u695DzPAKi .num {
  color: var(--gold-color);
  text-align: center;
}
.cid-u695DzPAKi .item-mb {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-u695DzPAKi * {
    text-align: center !important;
  }
  .cid-u695DzPAKi .content-column {
    margin-bottom: 2rem;
  }
}
.cid-u695DzPAKi .content-head {
  max-width: 800px;
}
.cid-u695DzPAKi .card-text {
  text-align: center;
}
.cid-u695DzPAKi .card-title,
.cid-u695DzPAKi .card-img {
  text-align: center;
}
/* **********************features023******************** */
/* **********************slider4******************** */
.cid-u695DzPlWc {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background: var(--background);
}
.cid-u695DzPlWc .mbr-fallback-image.disabled {
  display: none;
}
.cid-u695DzPlWc .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (min-width: 768px) {
  .cid-u695DzPlWc .container-fluid {
    padding: 0;
  }
}
.cid-u695DzPlWc .embla__slide {
  position: relative;
  min-width: 490px;
  max-width: 490px;
}
@media (max-width: 768px) {
  .cid-u695DzPlWc .embla__slide {
    min-width: 100%;
    max-width: 100%;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
}
.cid-u695DzPlWc .embla__slide a {
  display: block;
  width: 100%;
}
.cid-u695DzPlWc .embla__button--next,
.cid-u695DzPlWc .embla__button--prev {
  display: flex;
}
.cid-u695DzPlWc .mobi-mbri-arrow-next {
  margin-left: 5px;
}
.cid-u695DzPlWc .mobi-mbri-arrow-prev {
  margin-right: 5px;
}
.cid-u695DzPlWc .embla__button {
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-u695DzPlWc .embla__button:disabled {
  cursor: default;
  display: none;
}
.cid-u695DzPlWc .embla__button.embla__button--prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-u695DzPlWc .embla__button.embla__button--next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-u695DzPlWc .embla__button {
    top: auto;
    bottom: 1rem;
  }
}
.cid-u695DzPlWc .embla {
  position: relative;
  width: 100%;
}
.cid-u695DzPlWc .embla__viewport {
  overflow: hidden;
  width: 100%;
}
.cid-u695DzPlWc .embla__viewport.is-draggable {
  cursor: grab;
}
.cid-u695DzPlWc .embla__viewport.is-dragging {
  cursor: grabbing;
}
.cid-u695DzPlWc .embla__slide a {
  cursor: grab;
}
.cid-u695DzPlWc .embla__slide a:active {
  cursor: grabbing;
}
.cid-u695DzPlWc .embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.cid-u695DzPlWc .item-menu-overlay {
  border-radius: 2rem;
}
.cid-u695DzPlWc .mbr-section-title {
  color: #232323;
}
.cid-u695DzPlWc .mbr-section-subtitle {
  color: #232323;
}
.cid-u695DzPlWc .mbr-box {
  color: #ffffff;
}
.cid-u695DzPlWc .slide-content {
  position: relative;
  border-radius: 4px;
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-flow: column nowrap;
}
.cid-u695DzPlWc img,
.cid-u695DzPlWc .item-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.cid-u695DzPlWc .item-wrapper {
  position: relative;
}
.cid-u695DzPlWc .content-head {
  max-width: 800px;
}
/* **********************slider4******************** */
/* **********************pricing02******************** */
.cid-u695DzPigG {
  padding-top: 5rem;
  /* padding-bottom: 3rem; */
  background-color: #fff;
}

.cid-u695DzPigG video {
  width: 100%;
  height: 360px;
}

.cid-u695DzPigG button {
  text-align: left;
  color: var(--dark-color);
  padding: 20px !important;
  /* font-size: 18px; */
  font-weight: bold;
}

.cid-u695DzPigG button:hover {
  color: var(--gold-color);
}

.cid-u695DzPigG button.active,
.cid-u695DzPigG button:active {
  background-color: transparent !important;
  border-bottom : 2px solid var(--gold-color) !important;
  color: var(--dark-color) !important;
}

.cid-u695DzPigG img,
.cid-u695DzPigG .item-img {
  width: 100%;
  height: 100%;
  height: 400px;
  object-fit: cover;
}

.curtains.cid-u695DzPigG img{
  width: 100%;
  height: 100%;
  height: 350px;
  object-fit: cover;
  border-bottom-left-radius: 35px !important;
  border-bottom-right-radius: 35px !important;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.curtains.cid-u695DzPigG .nav-pills {
  width: 50%;
}
.curtains.cid-u695DzPigG .tab-pane {
  width: 100%;
}

.curtains.cid-u695DzPigG img:hover {
  transform: scale(.95);
  -webkit-transform: scale(.95);
  -moz-transform: scale(.95);
  -ms-transform: scale(.95);
  -o-transform: scale(.95);
}

.cid-u695DzPigG .item:focus,
.cid-u695DzPigG span:focus {
  outline: none;
}

.cid-u695DzPigG .item {
  margin-bottom: 2rem;
}

@media (max-width: 767px) {
  .cid-u695DzPigG .item {
    margin-bottom: 1rem;
  }
}

.cid-u695DzPigG .item-content {
  margin-top: 2rem;
  padding: 0 2.25rem 2.25rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .cid-u695DzPigG .item-content {
    padding: 2rem 1.5rem;
    padding-top: 1rem;
    margin-top: 1rem;
  }
}

@media (max-width: 767px) {
  .cid-u695DzPigG .item-content {
    padding: 2rem 1.5rem;
    padding-top: 1rem;
    margin-top: 1rem;
  }
}

.cid-u695DzPigG .item-wrapper {
  position: relative;
  background: #ffffff;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.cid-u695DzPigG .item-wrapper .item-footer {
  margin-top: auto;
}

.cid-u695DzPigG .mbr-section-title {
  color: var(--dark-color);
}

.cid-u695DzPigG .item-title {
  text-align: left;
  font-size: 24px;
  color: var(--dark-color);
}

.cid-u695DzPigG .item-subtitle {
  text-align: left;
}

.cid-u695DzPigG .mbr-text,
.cid-u695DzPigG .item .mbr-section-btn {
  text-align: left;
  color: #aaa;
  font-size: 16px;
}

.cid-u695DzPigG .content-head {
  max-width: 800px;
}
/* **********************pricing02******************** */
/* **********************header19******************** */
.cid-u695DzQY6o {
  padding-top: 6em;
  padding-bottom: 6em;
  background-color: var(--dominant-color, #393193);
}
@media (min-width: 768px) {
  .cid-u695DzQY6o {
    align-items: center;
  }
  .cid-u695DzQY6o .row {
    justify-content: center;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-u695DzQY6o .content-wrap {
    min-width: 50%;
  }
}
@media (max-width: 767px) {
  .cid-u695DzQY6o {
    -webkit-align-items: center;
    align-items: center;
  }
  .cid-u695DzQY6o .mbr-row {
    -webkit-justify-content: center;
    justify-content: center;
  }
  .cid-u695DzQY6o .content-wrap {
    width: 100%;
  }
}
.cid-u695DzQY6o .mbr-section-title {
  text-align: center;
  color: var(--dominant-text, #ffffff);
}
.cid-u695DzQY6o .mbr-text,
.cid-u695DzQY6o .mbr-section-btn {
  text-align: center;
  color: var(--dominant-text, #ffffff);
}
/* **********************header19******************** */
/* **********************image02******************** */
.cid-u695DzQkX5 {
  overflow: hidden;
  background-image: url("assets/images/photo-1540905255418-61f7468593cc.jpeg");
}
/* **********************image02******************** */
/* **********************slider4******************** */
.cid-u695DzQR4v {
  padding-top: 3rem;
  padding-bottom: 6rem;
  background: var(--background);
}
.cid-u695DzQR4v .mbr-fallback-image.disabled {
  display: none;
}
.cid-u695DzQR4v .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (min-width: 768px) {
  .cid-u695DzQR4v .container-fluid {
    padding: 0;
  }
}
.cid-u695DzQR4v .embla__slide {
  position: relative;
  min-width: 490px;
  max-width: 490px;
}
@media (max-width: 768px) {
  .cid-u695DzQR4v .embla__slide {
    min-width: 100%;
    max-width: 100%;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
}
.cid-u695DzQR4v .embla__slide a {
  display: block;
  width: 100%;
}
.cid-u695DzQR4v .embla__button--next,
.cid-u695DzQR4v .embla__button--prev {
  display: flex;
}
.cid-u695DzQR4v .mobi-mbri-arrow-next {
  margin-left: 5px;
}
.cid-u695DzQR4v .mobi-mbri-arrow-prev {
  margin-right: 5px;
}
.cid-u695DzQR4v .embla__button {
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-u695DzQR4v .embla__button:disabled {
  cursor: default;
  display: none;
}
.cid-u695DzQR4v .embla__button.embla__button--prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-u695DzQR4v .embla__button.embla__button--next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-u695DzQR4v .embla__button {
    top: auto;
    bottom: 1rem;
  }
}
.cid-u695DzQR4v .embla {
  position: relative;
  width: 100%;
}
.cid-u695DzQR4v .embla__viewport {
  overflow: hidden;
  width: 100%;
}
.cid-u695DzQR4v .embla__viewport.is-draggable {
  cursor: grab;
}
.cid-u695DzQR4v .embla__viewport.is-dragging {
  cursor: grabbing;
}
.cid-u695DzQR4v .embla__slide a {
  cursor: grab;
}
.cid-u695DzQR4v .embla__slide a:active {
  cursor: grabbing;
}
.cid-u695DzQR4v .embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.cid-u695DzQR4v .item-menu-overlay {
  border-radius: 2rem;
}
.cid-u695DzQR4v .mbr-section-title {
  color: var(--dark-color);
}
.cid-u695DzQR4v .mbr-section-subtitle {
  color: var(--dark-color);
}
.cid-u695DzQR4v .mbr-box {
  color: #ffffff;
}
.cid-u695DzQR4v .slide-content {
  position: relative;
  border-radius: 4px;
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-flow: column nowrap;
}
.cid-u695DzQR4v img,
.cid-u695DzQR4v .item-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.cid-u695DzQR4v .item-wrapper {
  position: relative;
}
.cid-u695DzQR4v .content-head {
  max-width: 800px;
}
/* **********************slider4******************** */
/* **********************people05******************** */
.cid-u695DzQGoG {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: var(--background);
}
.cid-u695DzQGoG .item-wrapper img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50% !important;
}
.cid-u695DzQGoG .item-wrapper {
  margin-bottom: 2rem;
}
.cid-u695DzQGoG .card-title,
.cid-u695DzQGoG .iconfont-wrapper {
  color: #000000;
}
.cid-u695DzQGoG .card-text {
  color: #000000;
  text-align: center;
}
.cid-u695DzQGoG .content-head {
  max-width: 800px;
}
.cid-u695DzQGoG .mbr-section-title {
  color: var(--dark-color);
}
.cid-u695DzQGoG .card-title,
.cid-u695DzQGoG .img-wrapper {
  text-align: center;
}
.cid-u695DzQGoG .img-wrapper {
  display: flex;
  justify-content: center;
}
/* **********************people05******************** */
/* **********************header18******************** */
.cid-u695DzQTCv .mbr-fallback-image.disabled {
  display: none;
}
.cid-u695DzQTCv .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: #000000;
}
/* **********************header18******************** */
/* **********************gallery07******************** */
.cid-u695DzQipE {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #fff;
}
.cid-u695DzQipE .item:focus,
.cid-u695DzQipE span:focus {
  outline: none;
}
.cid-u695DzQipE .item {
  cursor: pointer;
}
.cid-u695DzQipE .grid-container {
  grid-row-gap: 2rem;
}
@media (max-width: 767px) {
  .cid-u695DzQipE {
    display: none;
  }
  .cid-u695DzQipE .grid-container {
    grid-row-gap: 1rem;
  }
}
.cid-u695DzQipE .grid-container-1,
.cid-u695DzQipE .grid-container-2,
.cid-u695DzQipE .grid-container-3 {
  gap: 0 2rem;
}
@media (max-width: 767px) {
  .cid-u695DzQipE .grid-container-1,
  .cid-u695DzQipE .grid-container-2,
  .cid-u695DzQipE .grid-container-3 {
    gap: 0 1rem;
  }
}
.cid-u695DzQipE .mbr-section-title {
  color: var(--dark-color);
}
.cid-u695DzQipE .mbr-text,
.cid-u695DzQipE .mbr-section-btn {
  color: #000000;
}
.cid-u695DzQipE .content-head {
  max-width: 800px;
}
.cid-u695DzQipE .container,
.cid-u695DzQipE .container-fluid {
  overflow: hidden;
}
.cid-u695DzQipE .grid-container {
  display: grid;
  transform: translate3d(-3rem, 0, 0);
  width: 315vw;
  grid-column-gap: 1rem;
  -webkit-transform: translate3d(-3rem, 0, 0);
  -moz-transform: translate3d(-3rem, 0, 0);
  -ms-transform: translate3d(-3rem, 0, 0);
  -o-transform: translate3d(-3rem, 0, 0);
}
.cid-u695DzQipE .grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-u695DzQipE .grid-item img {
  min-width: 30vw;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
@media (max-width: 767px) {
  .cid-u695DzQipE .grid-item img {
    min-width: 35vw;
  }
}
.cid-u695DzQipE .grid-container-1,
.cid-u695DzQipE .grid-container-2,
.cid-u695DzQipE .grid-container-3 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
}
.cid-u695DzQipE .grid-container-1 {
  align-items: flex-end;
}
.cid-u695DzQipE .grid-container-2 {
  align-items: flex-start;
}
/* **********************gallery07******************** */
/* **********************features03******************** */
.cid-u695DzQew7 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: var(--background);
}
.cid-u695DzQew7 .item-subtitle {
  line-height: 1.2;
  color: #000000;
}
.cid-u695DzQew7 img,
.cid-u695DzQew7 .item-img {
  width: 100%;
}
.cid-u695DzQew7 .item:focus,
.cid-u695DzQew7 span:focus {
  outline: none;
}
.cid-u695DzQew7 .item {
  margin-bottom: 2rem;
}
@media (max-width: 575px) {
  .cid-u695DzQew7 .item {
    margin-bottom: 1rem;
  }
}
.cid-u695DzQew7 .item-wrapper {
  position: relative;
  border-radius: 4px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-u695DzQew7 .mbr-section-title {
  color: var(--dark-color);
}
.cid-u695DzQew7 .mbr-text,
.cid-u695DzQew7 .mbr-section-btn {
  color: #000000;
}
.cid-u695DzQew7 .item-title {
  color: #000000;
  text-align: center;
}
.cid-u695DzQew7 .content-head {
  max-width: 800px;
}
.cid-u695DzQew7 img {
  filter: grayscale(1);
}
/* **********************features03******************** */
/* **********************social05******************** */
.cid-u695DzRpK4 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #fff;
}
.cid-u695DzRpK4 .social-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.cid-u695DzRpK4 .social-row .soc-item {
  margin: 8px;
}
.cid-u695DzRpK4 .social-row .soc-item a:hover .mbr-iconfont,
.cid-u695DzRpK4 .social-row .soc-item a:focus .mbr-iconfont {
  background-color: #f7f7f7;
}
.cid-u695DzRpK4 .social-row .soc-item a .mbr-iconfont {
  width: 72px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  font-size: 32px;
  background-color: var(--dark-color);
  color: var(--gold-color);
  /* color: var(--primary-color, #393193); */
  transition: all 0.3s ease-in-out;
}
.cid-u695DzRpK4 .row-links {
  width: 100%;
  justify-content: center;
}
.cid-u695DzRpK4 .mbr-section-title {
  color: #ffffff;
}
.cid-u695DzRpK4 .mbr-section-title,
.cid-u695DzRpK4 .social-list {
  color: var(--dark-color);
}
/* **********************social05******************** */
/* **********************form5******************** */
.cid-u695DzROPm {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: var(--background);
}
.cid-u695DzROPm .mbr-overlay {
  background-color: #fff;
  opacity: 0.4;
}
.cid-u695DzROPm form .mbr-section-btn {
  text-align: center;
  width: 100%;
}

.cid-u695DzROPm textarea ,
.cid-u695DzROPm .btn ,
.cid-u695DzROPm input {
  border-radius: 10px !important;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  -ms-border-radius: 10px !important;
  -o-border-radius: 10px !important;
  padding: 15px;
}


.cid-u695DzROPm textarea ,
.cid-u695DzROPm input,
.cid-u695DzROPm textarea:hover ,
.cid-u695DzROPm input:hover ,
.cid-u695DzROPm textarea:active ,
.cid-u695DzROPm input:active ,
.cid-u695DzROPm textarea:focus ,
.cid-u695DzROPm input:focus {
  outline: 0 !important;
  border: 0 !important;
  box-shadow: 0 !important;
}

.cid-u695DzROPm form .mbr-section-btn .btn {
  display: inline-flex;
  background-color: var(--dark-color);
  color: var(--gold-color);
}
@media (max-width: 991px) {
  .cid-u695DzROPm form .mbr-section-btn .btn {
    width: 100%;
  }
}
.cid-u695DzROPm .content-head {
  max-width: 800px;
}
/* **********************form5******************** */
/* **********************contacts03******************** */
.cid-u695DzRLX8 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #fff;
}

.cid-u695DzRLX8 p a {
  color: var(--gold-color);
}

.cid-u695DzRLX8 .mbr-section-title {
  color: var(--dark-color);
}
.cid-u695DzRLX8 .mbr-fallback-image.disabled {
  display: none;
}
.cid-u695DzRLX8 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u695DzRLX8 .mbr-text {
  color: #000000;
}
.cid-u695DzRLX8 .mbr-section-subtitle {
  color: #000000;
  text-align: left;
}
.cid-u695DzRLX8 .main-button {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-u695DzRLX8 .main-button {
    margin-bottom: 2rem;
  }
}
.cid-u695DzRLX8 .mbr-section-subtitle,
.cid-u695DzRLX8 .main-button {
  color: #000000;
}
.cid-u695DzRLX8 .google-map {
  height: 30rem;
  position: relative;
  border-radius: 2rem;
}
.cid-u695DzRLX8 .google-map iframe {
  height: 100%;
  width: 100%;
  border-radius: 2rem;
}
.cid-u695DzRLX8 .google-map [data-state-details] {
  color: #6b6763;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-u695DzRLX8 .google-map[data-state] {
  background: #e9e5dc;
}
.cid-u695DzRLX8 .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
/* **********************contacts03******************** */
/* **********************footer4******************** */
.cid-u695DzRtrr {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #000000;
  overflow: hidden;
}
/* **********************footer4******************** */
/* **********************About US******************** */
.cid-u6l78JXCyS {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-u6l78JXCyS .mbr-fallback-image.disabled {
  display: none;
}
.cid-u6l78JXCyS .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-u6l78JXCyS .image-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-u6l78JXCyS .row {
  flex-direction: row-reverse;
}
.cid-u6l78JXCyS .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-u6l78JXCyS .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-u6l78JXCyS .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-u6l78JXCyS .mbr-section-title {
  color: #000000;
}
.cid-u6l78JXCyS .mbr-text,
.cid-u6l78JXCyS .mbr-section-btn {
  color: #000000;
}

/* **********************About US******************** */
/* **********************Services******************** */
.cid-u6BIs5xLE6 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-u6BIs5xLE6 .mbr-fallback-image.disabled {
  display: none;
}
.cid-u6BIs5xLE6 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-u6BIs5xLE6 .image-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-u6BIs5xLE6 .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-u6BIs5xLE6 .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-u6BIs5xLE6 .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-u6BIs5xLE6 .mbr-section-title {
  color: #000000;
}
.cid-u6BIs5xLE6 .mbr-text,
.cid-u6BIs5xLE6 .mbr-section-btn {
  color: #000000;
}

.hero-section {
  background-color: #f8f9fa;
  padding: 100px 0;
  text-align: center;
}
.services-section {
  padding: 50px 0;
}

.services-section p {
  color: #aaa;
  line-height: 1.5;
}

.services-section img {
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.services-section img:hover {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}
/* **********************Services******************** */

.whatsapp-icon {
  position: fixed;
  bottom: 20px;
  left: 20px;
  font-size: 30px;
  /*background-color: #25d366;
  */color: #fff;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.whatsapp-icon img {
  width: 40px;
}